extends layout

block append head
  link(rel='stylesheet' href='/css/aboutus.css')
  script(src='/js/jquery-3.1.1.js')
  script(src='/js/jquery-ui.js')        
  script(src='/js/tabs.js')

block append body
  h1(class='ui-state-default') About Us
  div(id='tabs' class='ui-widget-content')
    ul
      li
        a(href='/vidhya') Vidhya
      li
        a(href='/riya') Riya
      li
        a(href='/sanjana') Sanjana
      